<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список студентов</title>
</head>
<body>
<h1>Список book</h1>
<form action="/books/add" method="post" th:object="${book}">
    <input type="text" name="Title" placeholder="Title" th:field="*{Title}" required>
    <input type="text" name="PublicationYear" placeholder="PublicationYear" th:field="*{PublicationYear}">
    <div>
        <label for="authors">Author: </label>
        <select id="authors" th:field="*{authors}">
            <option th:each="author : ${authors}" th:value="${author.id}"
                    th:text="${author.AuthorName}"></option>
        </select>
    </div>

    <input type="text" name="location.shelf" placeholder="shelf" th:field="*{location.shelf}" required>
    <input type="text" name="location.rowNumber" placeholder="rowNumber" th:field="*{location.rowNumber}" required>
    <button type="submit" formmethod="post">Добавить book</button>
</form>

<h2>Все студенты: </h2>
<ul>
    <th:block th:each="book : ${books}">
        <li>
            <span th:text="${book.Title} + ' ' + ${book.PublicationYear}"></span>
            <form action="/books/update" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${book.id}">
                <input type="text" name="Title" th:value="${book.Title}" placeholder="Title" required>
                <input type="text" name="PublicationYear" th:value="${book.PublicationYear}" placeholder="PublicationYear" required>
                <input type="text" name="location.shelf" th:value="${book.location.shelf}" placeholder="Серия паспорта">
                <input type="text" name="location.rowNumber" th:value="${book.location.rowNumber}" placeholder="Номер паспорта">
                <button type="submit" formmethod="post">Обновить</button>
            </form>
            <form action="/books/delete" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${book.id}">
                <button type="submit" formmethod="post">Удалить</button>
            </form>
        </li>
    </th:block>
</ul>
</body>
</html>