<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Конвертер</title>
</head>
<body>
<form action="/converter" method="post">
  <input type="number" name="sum" placeholder="first num" required>
  <select name="currency1">
    <option value="RUB">RUB</option>
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>
  <select name="currency2">
    <option value="RUB">RUB</option>
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>
  <input type="submit" formmethod="post" value="посчитать">
</form>
</body>
</html>