<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Оценки</title>
    <style>
        .group {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
    }
        .group_add {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .input_add {
    
        }
    </style>
</head>
<body>







<div th:insert="blocks/header"></div>
<div th:if="${message}" class="alert alert-danger">
    <p th:text="${message}"></p>
</div>
<form style="margin:10px;" sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" action="/grades/add" method="post"
      th:object="${grade}">
    <h2 style="width: 350px;margin-left: auto;margin-right: auto;text-align: center;">Оценки</h2>
    <div class="group_add">
        <input class="form-control input_add" style="width: 300px; margin-left:10px;margin-right:10px;" type="text"
               name="grade"
               placeholder="grade" th:field="*{grade}" required>

        <input class="form-control input_add" style="width: 300px; margin-left:10px;margin-right:10px;" type="text"
               name="comment"
               placeholder="comment" th:field="*{comment}" required>

        <select style="width:200px" class="form-select" aria-label="Default select example" id="student"
                th:field="*{student}">

            <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.username}"></option>

        </select>

        <select style="width:200px" class="form-select" aria-label="Default select example" id="assignment"
                th:field="*{assignment}">

            <option th:each="assignment : ${assignments}" th:value="${assignment.id}" th:text="${assignment.name}"></option>

        </select>
        <button type="submit" formmethod="post" class="btn btn-warning text-white"
                style="background-color: #4f2f2f; margin-left:10px;border-color: #4f2f2f">Добавить
        </button>
    </div>

</form>

<h2 style="width: 250px;
  margin-left: auto;
  margin-right: auto;text-align: center;">список оценок </h2>
<ul class="group">

    <th:block th:each="grade : ${grades}">
        <div class="text-center" style="width: 20em; margin: 20px;">

            <div class="card mb-3 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal" th:text="${grade.grade}"></h4>
                </div>
                <div class="card-body">
                    <!--          <h1 class="card-title pricing-card-title" th:text="${grade.name}"></h1>-->
                    <ul class="list-unstyled mt-3 mb-4">

                        <li th:text="${grade.comment}"></li>
                        <li th:text="${grade.student.username}"></li>
                        <li th:text="${grade.assignment.name}"></li>
                        <li sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" style="margin-top:10px;">
                            <form action="/grades/update" method="post" style="display:inline; ">
                                <input type="hidden" name="id" th:value="${grade.id}">
                                <input type="text" name="grade" th:value="${grade.grade}"
                                       placeholder="grade"
                                       required>
                                <input type="text" name="comment" th:value="${grade.comment}"
                                       placeholder="comment"
                                       required>


                                <div style="margin-top:10px;">
                                    <label for="grade.student">student: </label>
                                    <select id="grade.student" th:field="*{grade.student}">
                                        <option th:each="student : ${students}" th:value="${student.id}"
                                                th:text="${student.username}"></option>
                                    </select>
                                </div>

                                <div style="margin-bottom:10px;">


                                    <label for="grade.assignment">assignment: </label>
                                    <select id="grade.assignment" th:field="*{grade.assignment}">
                                        <option th:each="assignment : ${assignments}" th:value="${assignment.id}"
                                                th:text="${assignment.name}"></option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-warning text-white"
                                        style="background-color: #4f2f2f; border-color: #4f2f2f" formmethod="post">
                                    Обновить
                                </button>
                            </form>
                            <form action="/grades/delete" method="post" style="display:inline;">
                                <input type="hidden" name="id" th:value="${grade.id}">
                                <button type="submit" class="btn btn-warning text-white"
                                        style="background-color: #4f2f2f; border-color: #4f2f2f" formmethod="post">
                                    Удалить
                                </button>
                            </form>
                        </li>

                    </ul>
                </div>
            </div>


        </div>
    </th:block>
</ul>
</body>
</html>