<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Группы</title>
    <style>
        .group {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
    }
        .group_add {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .input_add {

        }
    </style>
</head>
<body>
<div th:insert="blocks/header"></div>
<form style="margin:10px;" sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" action="/groups/add" method="post"
      th:object="${group}">
    <h2 style="width: 350px;margin-left: auto;margin-right: auto;text-align: center;">добавление групп</h2>
    <div class="group_add">
        <input class="form-control input_add" style="width: 300px; margin-left:10px;margin-right:10px;" type="text"
               name="name"
               placeholder="name" th:field="*{name}" required>
        

        <select style="width:200px" class="form-select" aria-label="Default select example" id="course"
                th:field="*{course}">

            <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}"></option>

        </select>
        <button type="submit" formmethod="post" class="btn btn-warning text-white"
                style="background-color: #4f2f2f; margin-left:10px;border-color: #4f2f2f">Добавить
        </button>
    </div>

</form>

<h2 style="width: 250px;
  margin-left: auto;
  margin-right: auto;text-align: center;">список групп </h2>
<ul class="group">

    <th:block th:each="group : ${groups}">
        <div class="text-center" style="width: 20em; margin: 20px;">

            <div class="card mb-3 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal" th:text="${group.name}"></h4>
                </div>
                <div class="card-body">
                    <!--          <h1 class="card-title pricing-card-title" th:text="${group.name}"></h1>-->
                    <ul class="list-unstyled mt-3 mb-4">

                        <li th:text="${group.course.name}"></li>

                        <li sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" style="margin-top:10px;">
                            <form action="/groups/update" method="post" style="display:inline; ">
                                <input type="hidden" name="id" th:value="${group.id}">
                                <input type="text" name="name" th:value="${group.name}" placeholder="Имя"
                                       required>


                                <div style="margin-top:10px; margin-bottom:10px;">
                                    <label for="group.course">groups: </label>
                                    <select id="group.course" th:field="*{group.course}">
                                        <option th:each="course : ${courses}" th:value="${course.id}"
                                                th:text="${course.name}"></option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-warning text-white"
                                        style="background-color: #4f2f2f; border-color: #4f2f2f" formmethod="post">
                                    Обновить
                                </button>
                            </form>
                            <form action="/groups/delete" method="post" style="display:inline;">
                                <input type="hidden" name="id" th:value="${group.id}">
                                <button type="submit" class="btn btn-warning text-white"
                                        style="background-color: #4f2f2f; border-color: #4f2f2f" formmethod="post">
                                    Удалить
                                </button>
                            </form>
                        </li>

                    </ul>
                </div>
            </div>


        </div>
    </th:block>
</ul>
</body>
</html>