<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Подробная информация о пользователе</title>
    <style>
        .group {
        width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
        .group_add {
         width: 100%;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }
        .input_add {

        }
    </style>
</head>
<body>
<!--<div th:insert="blocks/header"></div>-->
<!--<div class="container">-->
<!--    <h1 th:text="'Пользователь: ' + ${user_object.username}"></h1>-->
<!--    <div class="container">-->
<!--        <h2 th:text="'Роли: ' + ${user_object.roles}"></h2>-->
<!--        <p th:text=" ${user_object.active} == True ? 'Пользователь активен' : 'Пользователь заблокирован'"></p>-->
<!--    </div>-->
<!--    <a th:href="'/admin/users/' + ${user_object.id} + '/update'" class="btn btn-warning">Редактировать</a>-->
<!--    <a href="/admin/users" class="btn btn-success">Назад</a>-->
<!--</div>-->

<div th:insert="blocks/header"></div>

<ul class="group">


    <div class="text-center" style="width: 20em; margin: 20px;">

        <div class="card mb-3 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal" th:text="${user_object.username}"></h4>
            </div>
            <div class="card-body">
                <!--          <h1 class="card-title pricing-card-title" th:text="${course.name}"></h1>-->
                <ul class="list-unstyled mt-3 mb-4">

                    <li th:text="${user_object.roles}"></li>
                    <li th:text="${user_object.active} == True ? 'Пользователь активен' : 'Пользователь заблокирован'"></li>


                </ul>
                <a th:href="'/admin/users/' + ${user_object.id} + '/update'" class="btn btn-warning">Редактировать</a>
                <a href="/admin/users" class="btn btn-success">Назад</a>
            </div>
        </div>


    </div>

</ul>
</body>
</html>