<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<form action="/musics/add" method="post"  th:object="${music}">
    <input type="text" name="Name" placeholder="Name" th:field="*{Name}">
    <div th:if="${#fields.hasErrors('Name')}" th:errors="*{Name}">
        firstName not < 3
    </div>
    <input type="text" name="Author" placeholder="Author" th:field="*{Author}" >
    <input type="text" name="Album" placeholder="Album" th:field="*{Album}" required >
    <button type="submit" formmethod="post">Добавить music</button>
</form>
<h1 style="margin-left: 25%;">Поиск по author:</h1>
<form action="/musics/search"  method="get">
    <select name="author">
        <option th:each="music : ${musics}"
                th:text="${music.Author}"></option>
    </select>
    <button type="submit" formmethod="get">Поиск</button>
</form>
<h1 style="margin-left: 25%;">Поиск по album:</h1>
<form action="/musics/search_album"  method="get">
    <select name="author">
        <option th:each="music : ${musics}"
                th:text="${music.Album}"></option>
    </select>
    <button type="submit" formmethod="get">Поиск</button>
</form>
<h2>Все music: </h2>
<ul>
    <th:block th:each="music : ${musics}">
        <li>
            <span th:text="${music.Name} + ' ' + ${music.Author} + ' ' + ${music.Album}"></span>
            <form action="/musics/update" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${music.Id}">
                <input type="text" name="Name" th:value="${music.Name}" placeholder="Name">
                <input type="text" name="Author" th:value="${music.Author}" placeholder="Author">
                <input type="text" name="Album" th:value="${music.Album}" placeholder="Album">
                <button type="submit" formmethod="post">Обновить</button>
            </form>
            <form action="/musics/delete" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${music.Id}">
                <button type="submit" formmethod="post">Удалить</button>
            </form>
        </li>
    </th:block>
</ul>
</body>
</html>