<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<div th:if="${message}">}">
    useer already exist
</div>

<form th:action="@{/registration}" method="post">
    <div><label>username: <input type="text" th:field="*{username}"/></label></div>
    <div><label>password: <input type="password" th:field="*{password}"/></label></div>
    <div> <input type="submit" value="register"/> </div>
</form>
<a href="/login">auth</a>

</body>
</html>