<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Расписание</title>
    <style>
        .group {
        width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
        .group_add {
         width: 100%;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }
        .input_add {
    
        }
    </style>
</head>
<body>


<div th:insert="blocks/header"></div>
<form style="margin:10px;" sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" action="/schedules/add" method="post"
      th:object="${schedule}">
    <h2 style="width: 350px;margin-left: auto;margin-right: auto;text-align: center;">добавление расписания</h2>
    <div class="group_add">
        
        <input class="form-control input_add" style="width: 300px; margin-left:10px;margin-right:10px;" type="text"
               name="startTime"
               placeholder="startTime" th:field="*{startTime}" required>
        <input class="form-control input_add" style="width: 300px; margin-left:10px;margin-right:10px;" type="text"
               name="endTime"
               placeholder="endTime" th:field="*{endTime}" required>

        <select style="width:200px" class="form-select" aria-label="Default select example" id="group"
                th:field="*{group}">
            <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
        </select>
        <button type="submit" formmethod="post" class="btn btn-warning text-white"
                style="background-color: #4f2f2f; margin-left:10px;border-color: #4f2f2f">Добавить
        </button>
    </div>
</form>

<h2 style="width: 250px;
  margin-left: auto;
  margin-right: auto;text-align: center;">расписание </h2>
<ul class="group">

    <th:block th:each="schedule : ${schedules}">
        <div class="text-center" style="width: 20em; margin: 20px;">

            <div class="card mb-3 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal" th:text="${schedule.group.name}"></h4>
                </div>
                <div class="card-body">
                    <!--          <h1 class="card-title pricing-card-title" th:text="${schedule.startTime}"></h1>-->
                    <ul class="list-unstyled mt-3 mb-4">

                        <li th:text="${schedule.startTime}"></li>
                        <li th:text="${schedule.endTime}"></li>

                        <li sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" style="margin-top:10px;">
                            <form action="/schedules/update" method="post" style="display:inline; ">
                                <input type="hidden" startTime="id" th:value="${schedule.id}">
                                <input type="text" startTime="startTime" th:value="${schedule.startTime}" placeholder="Имя"
                                       required>
                                <input type="text" startTime="endTime" th:value="${schedule.endTime}"
                                       placeholder="endTime"
                                       required>

                                <div style="margin-top:10px; margin-bottom:10px;">
                                    <label for="schedule.group">groups: </label>
                                    <select id="schedule.group" th:field="*{schedule.group}">
                                        <option th:each="group : ${groups}" th:value="${group.id}"
                                                th:text="${group.name}"></option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-warning text-white"
                                        style="background-color: #4f2f2f; border-color: #4f2f2f" formmethod="post">
                                    Обновить
                                </button>
                            </form>
                            <form action="/schedules/delete" method="post" style="display:inline;">
                                <input type="hidden" startTime="id" th:value="${schedule.id}">
                                <button type="submit" class="btn btn-warning text-white"
                                        style="background-color: #4f2f2f; border-color: #4f2f2f" formmethod="post">
                                    Удалить
                                </button>
                            </form>
                        </li>

                    </ul>
                </div>
            </div>


        </div>
    </th:block>
</ul>
</body>
</html>